#skills-section {
  $default-z-index: 4;

  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #19191e;
  z-index: 2;
  color: #eadbdb;
  padding: 1rem;

  * {
    z-index: $default-z-index;
  }

  .fa-react {
    color: #127475;
    font-size: 10rem;
  }

  .fa-node-js {
    font-size: 10rem;
  }

  .fa-circle {
    color: #562c2c;
  }

  .fa-node-js {
    color: #1d7214
  }

  .fa-sass {
    color: #c04444;
  }

  #react-bubble {
    position: relative;
    font-size: 8em;
    left: 3%;
    top: 10%;
  }

  #bubble1 {
    position: relative;
    left: 0%;
    top: -3%;
  }

  #node-js-bubble {
    position: relative;
    font-size: 8em;
    left: -15%;
    top: 35%;
  }

  #bubble2 {
    font-size: 3em;
    left: -10%;
    top: 50%;
    position: relative;
  }

  #sass-bubble {
    position: relative;
    font-size: 8em;
    top: 60%;
    left: -74%;
  }

  .profile-links {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      font-size: 32px;
      letter-spacing: 1.5px;
    }
  }

  a {

  }
}

.bubbles {
  position: absolute;
  height: 100%;
}

.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2.5rem;
  width: 50%;
  position: absolute;

  h2 {
    font-size: 6rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.5rem;
    text-align: justify-all;
  }
}

@media only screen and (max-width: 1500px) {
  .bio {
    width: 75%;
  }
  .bubbles {
    opacity: 0.5;

    #sass-bubble {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .bubbles {
    left: 5%;
  }
}

@media only screen and (max-width: 900px) {
  #skills-section {
    .profile-links {
      margin-top: 5rem;
      flex-direction: column;
    }

    .bio {
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      padding-right: 0;

      h2 {
        font-size: 8rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 3rem;
        margin: 0 auto;
      }
    }
  }

  .bubbles {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  #skills-section {
    .bubbles {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bio {
      h2 {
        font-size: 7rem;
      }
    }

    #node-js-bubble, #bubble1, #bubble2, #sass-bubble {
      display: none;
    }

    #react-bubble {
      position: relative;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -50%);
      font-size: 24rem;
      opacity: 0.35;

      .fa-react {
        font-size: 36rem;
      }
    }
  }
}