$background-color: #f5dfbb;

.page-section {
  background-color: $background-color;
  margin-top: -10vh;
  height: 130vh;
  z-index: -10;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  height: 100%;
  z-index: -2;

  h1 {
    color: #562c2c;
    text-shadow: -3px -3px 0 $background-color, 3px -3px 0 $background-color, -3px 3px 0 $background-color, 3px 3px 0 $background-color;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
  }

  h2 {
    z-index: 2;
    color: #ed6e6e;
    font-size: 2.5rem;
  }
}

h1 {
  font-size: 8rem;
  margin: 0;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  left: 50%;

  transform: translate(-65%) rotate(10deg);
  border-top: 32.5rem solid transparent;
  border-right: 50rem solid #562c2c;
  border-bottom: 25rem solid transparent;
}

.main-text-wrapper {
  z-index: 2;
}

@media (max-width: 900px) {
  .page-section {
    height: 100vh;
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .page-section {
    height: 70vh;
  }
}